<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Operaciones</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}"> 
	
</head>
<body>
	<script> src = "/js/operaciones.js" </script>
	
<!-- Botón para abrir la barra lateral -->
<div class="open-btn" onclick="toggleSidebar()">&#9776;</div>

<!-- Barra lateral -->
<div id="sidebar">
    <a href="javascript:void(0)" class="close-btn" onclick="toggleSidebar()">&times;</a>
    <a href="/operaciones">Operaciones</a>
    <a href="/clientes">Clientes</a>
	<a href="/referidos">Referidos</a>
</div>

    <div id="main">
        <h1>Operaciones</h1>
       
		    <!-- Botón "Nueva Operación" -->
		   <div class="btn-nueva-operacion-container">
		        <button onclick="mostrarModalOperacion('crear')">Nueva Operación</button>
		   </div>
	
		<!-- Modal para crear operación -->
		        <div id="modal-overlay">
					
		            <div id="modal-content">
		                <button id="modal-close-btn" onclick="ocultarModal()">&times;</button>
		                <form id="operacionForm" method="post" onsubmit="return procesarFormulario()">
		                    <label>Cliente:</label>
		                    <input type="text" id="nombreCliente" name="nombreCliente" required>

		                    <label>Tipo de Operación:</label>
							<select id="tipo" name="tipo" required onchange="actualizarTipoCambio()">
							    <option value="COMPRA">Compra</option>
							    <option value="VENTA">Venta</option>
							</select>

		                    <label>Moneda Origen:</label>
							<select id="monedaOrigen" name="monedaOrigen" required onchange="actualizarTipoCambio()">
							    <option value="USD">USD</option>
							    <option value="EUR">EUR</option>
							    <option value="BRL">BRL</option>
							    <option value="ARS">ARS</option>
							</select>

		                    <label>Monto Origen:</label>
		                    <input type="number" id="montoOrigen" name="montoOrigen" step="0.01" required>

		                    <label>Moneda Conversión:</label>
							<select id="monedaConversion" name="monedaConversion" required onchange="actualizarTipoCambio()">
							    <option value="USD">USD</option>
							    <option value="EUR">EUR</option>
							    <option value="BRL">BRL</option>
							    <option value="ARS">ARS</option>
							</select>
		                    <label>Tipo de Cambio:</label>
							<input type="number" id="valorTipoCambio" name="valorTipoCambio" step="0.0001" placeholder="Esperando...">		                    
		                    <!-- Checkbox para activar referido -->
		                    <label>
		                        <input type="checkbox" id="tieneReferido" onchange="toggleReferido()"> Incluir Referido
		                    </label>

		                    <div id="referidoFields" style="display: none;">
		                        <label>Referido:</label>
		                        <input type="text" id="nombreReferido" name="nombreReferido">

		                        <label>Puntos Referido:</label>
		                        <input type="number" id="puntosReferido" name="puntosReferido" step="0.01">

		                        <label>Ganancia Referido:</label>
		                        <input type="number" id="gananciaReferido" name="gananciaReferido" step="0.01">

		                        <label>Moneda Ganancia Referido:</label>
		                        <select id="monedaReferido" name="monedaReferido">
		                            <option value="USD">USD</option>
		                            <option value="EUR">EUR</option>
		                            <option value="BRL">BRL</option>
		                            <option value="ARS">ARS</option>
		                        </select>
		                    </div>
		                    
		                    <button type="submit">Guardar</button>
		                    <button type="button" onclick="ocultarModal()">Cancelar</button>
		                </form>
		            </div>
		        </div>
		    </div>

        
		<!-- Filtros en formato grid -->
		<form id="filtroForm" th:action="@{/operaciones}" method="get" class="flex gap-4">
		    <input type="date" name="fechaInicio" th:value="${fechaInicio}" placeholder="Fecha inicio">
		    <input type="date" name="fechaFin" th:value="${fechaFin}" placeholder="Fecha fin">
		    
		    <input type="text" name="montoOrigen" th:value="${montoOrigen}" placeholder="Monto Origen">
		    <select name="monedaOrigen">
		        <option value="">Moneda Origen</option>
		        <option value="USD" th:selected="${monedaOrigen == 'USD'}">USD</option>
		        <option value="EUR" th:selected="${monedaOrigen == 'EUR'}">EUR</option>
		        <option value="BRL" th:selected="${monedaOrigen == 'BRL'}">BRL</option>
		        <option value="ARS" th:selected="${monedaOrigen == 'ARS'}">ARS</option>
		    </select>

		    <input type="text" name="montoConversion" th:value="${montoConversion}" placeholder="Monto Conversión">
		    <select name="monedaConversion">
		        <option value="">Moneda Conversión</option>
		        <option value="USD" th:selected="${monedaConversion == 'USD'}">USD</option>
		        <option value="EUR" th:selected="${monedaConversion == 'EUR'}">EUR</option>
		        <option value="BRL" th:selected="${monedaConversion == 'BRL'}">BRL</option>
		        <option value="ARS" th:selected="${monedaConversion == 'ARS'}">ARS</option>
		    </select>

		    <select name="tipo">
		        <option value="">Tipo</option>
		        <option value="COMPRA" th:selected="${tipo == 'COMPRA'}">Compra</option>
		        <option value="VENTA" th:selected="${tipo == 'VENTA'}">Venta</option>
		    </select>

		    <input type="text" name="clienteNombre" th:value="${clienteNombre}" placeholder="Nombre Cliente">

		    <button type="submit">Filtrar</button>
		</form>


		       <!-- Tabla de operaciones -->
		       <div th:if="${operaciones != null and not #lists.isEmpty(operaciones)}">
		           <table>
		               <thead>
		                   <tr>
		                       <th>Fecha</th>
		                       <th>Tipo</th>
		                       <th>Cliente</th>
		                       <th>Referencia</th>
		                       <th>Monto Origen</th>
		                       <th>Monto Conversión</th>
		                       <th>Acciones</th>
		                   </tr>
		               </thead>
		               <tbody>
		                   <tr th:each="operacion : ${operaciones}">
							<td th:text="${#temporals.format(operacion.fecha, 'dd-MM-yyyy HH:mm')}"></td>
		                       <td th:text="${operacion.tipo}"></td>
		                       <td th:text="${operacion.nombreCliente}"></td>
		                       <td th:text="${operacion.nombreReferido}"></td>
		                       <td th:text="${#numbers.formatDecimal(operacion.montoOrigen, 1, 2, 'COMMA')}"></td>
		                       <td th:text="${#numbers.formatDecimal(operacion.montoConversion, 1, 2, 'COMMA')}"></td>
		                       <td>
									<!-- Botón de Editar con ícono -->
									<button th:attr="onclick=|mostrarModalOperacion('editar', '${operacion.id}', '${operacion.tipo}', 
												'${operacion.nombreCliente}', '${operacion.monedaOrigen}', '${operacion.montoOrigen}', 
												'${operacion.monedaConversion}', '${operacion.montoConversion}', '${operacion.valorTipoCambio}', 
												'${operacion.nombreReferido}', '${operacion.puntosReferido}', '${operacion.gananciaReferido}', 
												'${operacion.monedaReferido}')|">
									    <i class="fas fa-edit"></i>
									</button>
									    <i class="fas fa-edit"></i>
									</button>
	
									<!-- Botón de Eliminar con ícono -->
									<button th:attr="onclick=|confirmarEliminacionOperacion('${operacion.id}')|">
									    <i class="fas fa-trash-alt"></i>
								</button>
		                       </td>
		                   </tr>
		               </tbody>
		           </table>
		       </div>
		   </div>        

		   <!-- Paginación -->
		   <div th:if="${operaciones.totalPages > 1}">
		       <span th:if="${!operaciones.first}">
		           <a th:href="@{/operaciones(page=0, size=${operaciones.size}, 
		                   fechaInicio=${fechaInicio}, fechaFin=${fechaFin}, 
		                   montoOrigen=${montoOrigen}, monedaOrigen=${monedaOrigen}, 
		                   montoConversion=${montoConversion}, monedaConversion=${monedaConversion}, 
		                   tipo=${tipo}, clienteNombre=${clienteNombre})}">Primera</a>
		       </span>
		       
		       <span th:if="${operaciones.hasPrevious()}">
		           <a th:href="@{/operaciones(page=${operaciones.number - 1}, size=${operaciones.size}, 
		                   fechaInicio=${fechaInicio}, fechaFin=${fechaFin}, 
		                   montoOrigen=${montoOrigen}, monedaOrigen=${monedaOrigen}, 
		                   montoConversion=${montoConversion}, monedaConversion=${monedaConversion}, 
		                   tipo=${tipo}, clienteNombre=${clienteNombre})}">Anterior</a>
		       </span>

		       <span th:each="i : ${#numbers.sequence(1, operaciones.totalPages)}">
		           <a th:if="${i - 1 != operaciones.number}" 
		              th:href="@{/operaciones(page=${i - 1}, size=${operaciones.size}, 
		                   fechaInicio=${fechaInicio}, fechaFin=${fechaFin}, 
		                   montoOrigen=${montoOrigen}, monedaOrigen=${monedaOrigen}, 
		                   montoConversion=${montoConversion}, monedaConversion=${monedaConversion}, 
		                   tipo=${tipo}, clienteNombre=${clienteNombre})}" 
		              th:text="${i}">1</a>
		           <span th:unless="${i - 1 != operaciones.number}" th:text="${i}">1</span>
		       </span>

		       <span th:if="${operaciones.hasNext()}">
		           <a th:href="@{/operaciones(page=${operaciones.number + 1}, size=${operaciones.size}, 
		                   fechaInicio=${fechaInicio}, fechaFin=${fechaFin}, 
		                   montoOrigen=${montoOrigen}, monedaOrigen=${monedaOrigen}, 
		                   montoConversion=${montoConversion}, monedaConversion=${monedaConversion}, 
		                   tipo=${tipo}, clienteNombre=${clienteNombre})}">Siguiente</a>
		       </span>

		       <span th:if="${!operaciones.last}">
		           <a th:href="@{/operaciones(page=${operaciones.totalPages - 1}, size=${operaciones.size}, 
		                   fechaInicio=${fechaInicio}, fechaFin=${fechaFin}, 
		                   montoOrigen=${montoOrigen}, monedaOrigen=${monedaOrigen}, 
		                   montoConversion=${montoConversion}, monedaConversion=${monedaConversion}, 
		                   tipo=${tipo}, clienteNombre=${clienteNombre})}">Última</a>
		       </span>
		   </div>

		   <!-- Información de la paginación -->
		   <div>
		       <p>Página <span th:text="${operaciones.number + 1}">1</span> de <span th:text="${operaciones.totalPages}">1</span></p>
		       <p>Total de operaciones: <span th:text="${operaciones.totalElements}">0</span></p>
		   </div>


    <script>
		
		function mostrarModalOperacion(modo, id = null, tipo = "", nombreCliente = "", monedaOrigen = "", montoOrigen = "", 
										monedaConversion = "", montoConversion = "", valorTipoCambio = "", nombreReferido = "", 
										puntosReferido = "", gananciaReferido = "", monedaReferido = "") {
		    const form = document.getElementById("operacionForm");

		    if (!form) {
		        console.error("Formulario de operación no encontrado");
		        return;
		    }

		    if (modo === "crear") {
		        form.action = "/operaciones"; // URL para crear una nueva operación
		        form.method = "post";

		    } else if (modo === "editar" && id) {
		        form.action = "/operaciones/editar/" + id; // URL con el ID en la ruta
		        form.method = "post";
			}
				
		            document.getElementById("nombreCliente").value = nombreCliente;		       		 
		            document.getElementById("tipo").value = tipo;		        
		            document.getElementById("monedaOrigen").value = monedaOrigen;		        
		            document.getElementById("montoOrigen").value = montoOrigen;		        
		            document.getElementById("monedaConversion").value = monedaConversion;		        
		        	document.getElementById("valorTipoCambio").value = valorTipoCambio;
		         	document.getElementById("montoConversion").value = montoConversion;
						       
				// Manejar el checkbox de referido
				if (nombreReferido && nombreReferido.trim() !== "") {
				    console.log(nombreReferido); // Para depuración
				    if (document.getElementById("tieneReferido")) {
				        document.getElementById("tieneReferido").checked = true;
				    }
				    if (document.getElementById("referidoFields")) {
				        document.getElementById("referidoFields").style.display = "block";
				    }
				    if (document.getElementById("nombreReferido")) {
				        document.getElementById("nombreReferido").value = nombreReferido;
				    }
				    if (document.getElementById("puntosReferido")) {
				        document.getElementById("puntosReferido").value = puntosReferido;
				    }
				    if (document.getElementById("gananciaReferido")) {
				        document.getElementById("gananciaReferido").value = gananciaReferido;
				    }
				    if (document.getElementById("monedaReferido")) {
				        document.getElementById("monedaReferido").value = monedaReferido;
				    }
				} else {
				    if (document.getElementById("tieneReferido")) {
				        document.getElementById("tieneReferido").checked = false;
				    }
				    if (document.getElementById("referidoFields")) {
				        document.getElementById("referidoFields").style.display = "none";
				    }
				}

		    // Mostrar el modal
		    document.getElementById("modal-overlay").style.display = "block";
		}
						
		    
		    function confirmarEliminacionOperacion(operacionId) {
		        const confirmar = confirm("¿Estás seguro de que deseas eliminar esta operación?");
		        if (confirmar) {
		            fetch(`/operaciones/${operacionId}`, {
		                method: 'DELETE',
		                headers: { 'Content-Type': 'application/json' },
		            })
		            .then(response => {
		                if (response.ok) {
		                    window.location.reload();
		                } else {
		                    alert("Hubo un error al eliminar la operación.");
		                }
		            })
		            .catch(error => {
		                console.error("Error:", error);
		                alert("Hubo un error al eliminar la operación.");
		            });
		        }
		    }
		
		function toggleSidebar() {
		    const sidebar = document.getElementById("sidebar");
		    sidebar.style.left = sidebar.style.left === "0px" ? "-250px" : "0px";
		}

		function ocultarModal() {
		    document.getElementById("modal-overlay").style.display = "none";
		}

		function toggleReferido() {
		    const checkbox = document.getElementById("tieneReferido");
		    const referidoFields = document.getElementById("referidoFields");
		    if (checkbox.checked) {
		        referidoFields.style.display = "block";
		    } else {
		        referidoFields.style.display = "none";
		        document.getElementById("nombreReferido").value = "";
		        document.getElementById("puntosReferido").value = "";
		        document.getElementById("gananciaReferido").value = "";
		        document.getElementById("monedaReferido").value = "";
		    }
		}

		function procesarFormulario() {
		    const checkbox = document.getElementById("tieneReferido");
		    if (!checkbox.checked) {
		        document.getElementById("nombreReferido").removeAttribute("name");
		        document.getElementById("puntosReferido").removeAttribute("name");
		        document.getElementById("gananciaReferido").removeAttribute("name");
		        document.getElementById("monedaReferido").removeAttribute("name");
		    }
		    return true;
		}
		
		function formatearNumero(input) {
		    let value = input.value.replace(/,/g, '');
		    if (!isNaN(value) && value !== "") {
		        input.value = parseFloat(value).toLocaleString('en-US', {
		            minimumFractionDigits: 2,
		            maximumFractionDigits: 2
		        });
		    }
		}
			
			
		function actualizarTipoCambio() {
			const monedaOrigen = document.getElementById("monedaOrigen").value;
			const monedaConversion = document.getElementById("monedaConversion").value;
			const tipoOperacion = document.getElementById("tipo").value;
			const tipoCambioInput = document.getElementById("valorTipoCambio");

			 if (monedaOrigen === monedaConversion && monedaOrigen !== "" && monedaConversion !== "") {
			        tipoCambioInput.value = "";
			        tipoCambioInput.placeholder = "Error: Monedas iguales";
			        tipoCambioInput.style.border = "2px solid red";
			        return;
			    } else {
			        tipoCambioInput.placeholder = "Esperando...";
			        tipoCambioInput.style.border = "";
			    }

			 if (monedaOrigen && monedaConversion && tipoOperacion) {
			        console.log(`Solicitando tipo de cambio para ${monedaOrigen} → ${monedaConversion} (Compra: ${tipoOperacion === 'COMPRA'})`);

			 	fetch(`/tipoCambio/obtener?monedaOrigen=${monedaOrigen}&monedaConversion=${monedaConversion}&esCompra=${tipoOperacion === 'COMPRA'}`)
			    	.then(response => {
			                if (!response.ok) {
			                    throw new Error("No se pudo obtener el tipo de cambio");
			                }
			                return response.json();
			            })
			       .then(data => {
			                console.log("Tipo de Cambio recibido:", data.valor);
			                tipoCambioInput.value = data.valor;
			            })
			       .catch(error => {
			                console.error("Error obteniendo tipo de cambio:", error);
			                tipoCambioInput.value = "";
			                tipoCambioInput.placeholder = "Error al obtener TC";
			            });
			    }
		}
		
		document.getElementById("filtroForm").addEventListener("submit", function(event) {
		    event.preventDefault(); // Evita el envío automático del formulario

		    const formData = new FormData(this);
		    let params = new URLSearchParams();

		    formData.forEach((value, key) => {
		        if (value.trim() !== "") { // Solo agrega parámetros con valores
		            params.append(key, value);
		        }
		    });

		    // Redirigir la página con los parámetros actualizados
		    window.location.href = "/operaciones?" + params.toString();
		});

	

    </script>
</body>	

</html>
